html {
  box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
  }

body {
  background-image: url('#');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  }

header {
  display: flex;
  height: 69px;
  width: 1000px;
  position: fixed;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  float: right;
  right: 0;
}

.nav {
  display: inline-flex;
  justify-content: right;
  margin-right: 10px;
  margin-left: 10px;
}

#logo {
  height: 50px;
  justify-content: flex-start;
}

main {
  display: grid;
}

div {
  font-size: 22px;
  
}

span {
  position: absolute;
}

#ourmission {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  margin: 100px;
  display: flex;
  position: relative;
}

#missionfont {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background-color: black;
  z-index: 1;
  margin-top: 50%;
  margin: auto;
  position: absolute;
}

#monthlytea {
  display: flex;
  width: 1000px;
}

.months {
  display: inline-flex;
  width: 300px;
  height: 200px;
}

#berryblitz {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-berryblitz.jpg");
}

#spicedrum {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-spiced-rum.jpg");
}

#donut {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-donut.jpg");
}

#myrtle {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-myrtle-ave.jpg");
}

#bazaar {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-bedford-bizarre.jpg");
}

#locations {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
}

#downtown {

}

#eastbayside {

}

#oakdale {

}

footer {
  height: 200px;
  position: relative;
}

#copyright {
  margin-left: 20px;
  padding-left: 0;
  text-align: left;
}

.container {
    width: 50%;
    height: 200px;
    overflow: hidden;
    }
     
.container img {
    max-width: 100%;
    height: auto;
    display: block;
    }